---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Métodos en Mutación · v0.1">
  <h1>Métodos en Mutación</h1>
  <p>Archivo abierto de métodos de creación en moda.</p>
  <p><em>Cartografía rizomática en construcción.</em></p>
</Layout>
